div.image img[src="Hybrid_EDMF_Flowchart.png"]{
    width:5cm;
}

div.image img[src="SAS_Flowchart.png"]{
    width:5cm;
}

div.image img[src="Shallow_SAS_Flowchart.png"]{
    width:5cm;
}

div.image img[src="schematic_Rad_mod.png"]{
    width:600px;
}

div.image img[src="GFS_Operational_Physics.png"]{
    width:16cm;
}

.link { color: #FF0000; } /* CSS link color (red) */
.link:hover { color: #00FF00; } /* CSS link hover (green) */
